<div class="pb-3 pt-5">
    <hr>

    <footer>
        <small>
            {% if page.language == "fr" %}
                Nous avons appelé notre maison d'édition en hommage à Isaac Asimov. Dans son univers de science-fiction, il a trouvé comment préserver l'humanité à travers ses fondations. Nous voulons faire de-même.
            {% elsif page.language == "en" %}
                We named our publishing house after Isaac Asimov. In his science-fiction universe, he figured out how to preserve humanity through its foundations. We want to do the same.
            {% elsif page.language == "es" %}
                Hemos bautizado nuestra editorial con el nombre de Isaac Asimov. En su universo de ciencia ficción, encontró la manera de preservar la humanidad a través de sus cimientos. Nosotros queremos hacer lo mismo.
            {% endif %}
        </small>
    </footer>
</div>